# Conditional Statement

In [ ]:
# . If
# . else 
# . nested if
# .if elif else

In [2]:
if True:
    print('Data Science')

Data Science

In [5]:
if False:
    print('Data Science')
print('bye for now ')

bye for now

In [8]:
if True:
    print('Data Science')
print('bye for now ')

Data Science
bye for now

In [12]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [13]:
if False:
    print('Data Science job')
else:
    print('no job')

no job

In [14]:
x = 4
r = x % 2

if r == 0:
    print('Even Number')

Even Number

In [17]:
x = 5
r = x % 2

if r == 0:
    print('Even Number')

In [20]:
x = 5 
r = x % 2 
if r != 0:
    print('odd number')

odd number

In [21]:
x = 4
r = x % 2
if r == 0:
    print('Event Number')

print('odd number')

Event Number
odd number

In [22]:
 x = 9
r = x % 2

if r == 0:
    print('Even Number')
if r == 1:
    print('odd number')

odd number

In [23]:
x = 8 
r = x % 2
if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [24]:
x = 9
r = x % 2

if r != 0:
    print('odd number')
else:
    print('Even number')

odd number

In [26]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
      print('greater number')
else:
    print('odd number')

odd number

In [27]:
x = 4
r = x % 2

if r == 0:
    print('Even Number')
    if x>5:
        print('greater number')
else:
    print('odd number')

Even Number

In [28]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('lesser number')
else:
    print('odd number')

Even number
lesser number

In [34]:
x = 13
r = x % 2

if r == 0:
    print('greater number')
    if x>5:
        print('greater number')
    else:
        print('lesser number')
else:
    print('odd number')

odd number

In [36]:
x = 3
if x == 1:
    print('one')
if x == 2:
    print('two')
if x == 3:
    print('three')
if x == 4:
    print('four')

three

In [37]:
x = 1
if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')

one

In [38]:
x = 5 

if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')

else:print('number not found')

number not found

In [39]:
age = 19
if age > 18: print("Eligible to Vote")

Eligible to Vote

# Loops in Python

In [ ]:
print('data sicence')
print('data science')
print('dtat science')
print('data science')
print('dtat science')

In [1]:
i = 1         # initializing

while i<=5:   # Condion
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [2]:
i =  5       # initializating

while i>=1:   # condition
    print('data science')
    i = i - 1 # decrement

data science
data science
data science
data science
data science

In [6]:
i = 1           # initializing

while i<=5:     # condition
    print('dtat science:', i)
    i = i + 1    # increment

dtat science: 1
dtat science: 2
dtat science: 3
dtat science: 4
dtat science: 5

In [7]:
i = 5             # initializing

while i>=1:       # condition
    print('data science:', i)
    i = i - 1      # decrement

data science: 5
data science: 4
data science: 3
data science: 2
data science: 1

In [3]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [4]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end = "")
        j = j + 1
        
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [1]:
# lets use while loop using some number
i = 1

while i <= 2:
    j = 0
    while j<=2:
        print(i*j, end="")
        j += 1    
    print()
    i += 1

012
024

In [2]:
# lets use while loop using some number 
i = 1 
while i <= 4 :
    j = 0
    while j <= 3 :
        print(i*j, end  = "")
        j += 1
    print()
    i += 1

0123
0246
0369
04812

In [4]:
# lets use while loop using some number 
i = 10

while i <= 4 :
    j = 1
    while j <= 3 :
        print(i*j, end="")
        j += 1

    print()
    i += 1

else:
    print('condition is not match')

condition is not match

# for loop

In [5]:
name = 'News'

for i in name:
    print(i)

N
e
w
s

In [6]:
name1 = [1, 3.5, 'hello']

for i in name1:
    print(i)

1
3.5
hello

In [7]:
range(5)

range(0, 5)

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [12]:
# print the value which is divisble by 5
for i in range(1,31):

    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

# BREAK, CONTINUE, PASS

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(1,11):
    if i == 4:
        break
    print(i)

1
2
3

In [25]:
for i in range(1,11):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [26]:
for i in range(1,11):
    pass

In [30]:
x = int(input('How many choclets cans you want:?'))

i = 1
while i<=x:
    print('choclets :', i)
    i += 1

How many choclets cans you want:? 2

choclets : 1
choclets : 2

In [31]:
ava = 5 # the machine hs only 5 choclets
x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet:', i)
    i += 1

How many choclets you want:? 10

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
choclet: 6
choclet: 7
choclet: 8
choclet: 9
choclet: 10

In [1]:
available_choclets = 5 # the machine has only 10 candis

x = int(input('How many choclets user wants:?'))

i = 1
while i<=x:
    
    if i>available_choclets: # we stop the execution but which execution not entire code , i want to come out of while loop
        break # bresk is statment | means jump out of the loop
    print('choclet')
    i += 1

print('bye for now')

How many choclets user wants:? 4

choclet
choclet
choclet
choclet
bye for now

In [2]:
available_choclet = 5 # the machine has only 10 candies

x = int(input('How meny choclets you want:?'))

i = 1
while i<=x:

    if i>available_choclet: # we stop the execuation but which code execuation  not entire, i want come out of the loop
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet:', i)
    i += 1
print('bye for now')

How meny choclets you want:? 8

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
out of stock
bye for now

In [3]:
for i in range(1,51):
    if i%3 == 0:

        print(i)

print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [5]:
for i in range(1,51):

    if i%3 == 0:
        continue
    print(i)

print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [6]:
for i in range(1,51):

    if i%3 == 0 or i%5 == 0:

        continue

    print(i)
    # print('end')
    # it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [8]:
nums = [12,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [15]:
nums = [12,5,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

5
15
30
40

In [19]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        # break

else:
    print('number not found')

number not found

In [20]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15